@import "../../scss/config";
.login {
  @include grid;
  .login {
    @include flex(column, center, center);
    width: 50vw;
    height: 50vh;
    background-color: $lightBlack;
    border-radius: 1rem;
    line-height: 3;
    .title {
      color: $orange;
      font-size: 1.2rem;
      text-align: center;
    }
    .logo {
      @include flex(row, center, center);
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
      .icon-logo {
        color: $orange;
        margin-right: 0.2rem;
        font-size: 1.7rem;
      }
    }
    .login-btn {
      @include flex(row, center, center);
      background-color: $red;
      color: #fff;
      border: none;
      font-size: 1.3rem;
      padding: 0.5rem 2rem;
      border-radius: 0.3rem;
      cursor: pointer;
      .icon {
        margin: 0 0.5rem 0 0;
      }
    }
  }
}
.account {
  position: relative;
  .logout-btn {
    @include button;
  }
  .btn-group {
    @include flex(row, center, center);
    padding-top: 5rem;
    margin: 0rem auto 5rem auto;
    width: 50%;
    button {
      @include flex(row, unset, center);
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;
      border: none;
      margin-right: 0.5rem;
      font-size: 1.1rem;
      color: #fff;
      cursor: pointer;
      background-color: gray;
      &.active {
        &.add-fav {
          background-color: $red;
        }
        &.watch {
          background-color: $blue;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .login {
    .login {
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 500px) {
  .login {
    .login {
      width: 100%;
      .login-btn {
        padding: 1rem;
        .icon {
          font-size: 3.5rem;
        }
      }
    }
  }
}
